<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>
  </head>
  <body>
    <h1>Details for Car: <%= car.registrationNumber %></h1>
    <p><strong>Make:</strong> <%= car.make %></p>
    <p><strong>Model:</strong> <%= car.model %></p>
    <p><strong>Year:</strong> <%= car.year %></p>
    <a href="/cars"> Back to All Cars</a>
  </body>
</html> 